.mainContainer {
    height: 79vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f0f2f5;
  }
  .dataContainer {
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 0 2rem;
  }
  .formContainer {
    width: 30%;
    height: 100%;
    padding: 0 2rem;
  }
  
  .dataContainer::-webkit-scrollbar {
    display: none;
  }
  
  .input {
    border-radius: 0.4rem;
    background-color: #f0f2f5;
    width: 100%;
    font-size: 1rem;
    border: 1px #1976d2 solid;
    height: 50%;
    outline: 1px #1976d2 solid;
    text-overflow: ellipsis;
  }
  .input[type="text"] {
  }
  .titleInput {
    border-radius: 0.4rem;
    background-color: #f0f2f5;
    width: 100%;
    font-size: 1rem;
    border: 1px #1976d2 solid;
    height: 10%;
    margin-bottom: 1rem;
    outline: 1px #1976d2 solid;
  }
  .button:active {
    transform: scale(0.98);
  }
  
  .form {
    height: 75%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fileBaseIcon {
    height: 100%;
  }
  .fileBaseIcon input[type="file"] {
    display: none;
  }
  .listB {
    cursor: pointer;
    color: #515151;
  }
  
  @media only screen and (max-width: 600px) {
    .form button[type="submit"] {
      display: none;
    }
  }