.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .form {
    width: 100%;
  }
  .input {
    background-color: transparent;
    border-radius: 0.4rem;
    color: black;
    width: 90%;
    font-size: 1rem;
  }
  .button:active {
    transform: scale(0.98);
  }
  .a {
    text-decoration: none;
    font-weight: bold;
  }